.journal-input {
    width: 100%;
    min-height: 150px;
    max-height: 100%;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5 px;
    border-width: 1px;
    border-color: lightgray;
    font-size: 16px;

    resize: none;
    outline: none;
    box-shadow: none;
}

