.action-input-container {
  width: 100%;

}

.action-inputs {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}



.key-input {
  width: 100%;
  margin-right: 15px;
}



.action {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.action button {
}

.action .key {
  padding-left: 14px;
  flex: 1;
  margin-right: 45px;
  word-break: break-word;
  flex-wrap: wrap;
}

.action .due-date {
  min-width: fit-content;
  margin-left: auto;
  margin-right: 10px;
}

